.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1rem;

  &__container{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 10rem;
  }

  &__label{
      font-size: 0.8rem;
  }
  
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -4px;
    border-radius: 50%;
    background-color: #01579B;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &input {
      display:none;
  }
}


input{
    &:checked{
        &+.slider:before{
            -webkit-transform: translateX(1.1rem);
            -ms-transform: translateX(1.1rem);
            transform: translateX(1.1rem);
        }
        
    }
}