<table class="table">
  <tr class="table__row">

    <th class="table__heading">Month</th>
    <th class="table__heading">CPMU</th>
  </tr>
  <tr class="table__row" *ngFor="let CPMUObject of CPMUListMonthly">

    <td>{{CPMUObject.Month}}</td>
    <td>{{CPMUObject.CPMU}}</td>
    </tr>
</table>

<table class="table">
  <tr class="table__row">
    <th class="table__heading">Quarter</th>
    <th class="table__heading">CPMU</th>
  </tr>
  <ng-container class="table__row" *ngFor="let year of complaintYears">
    <tr *ngFor="let quarter of CPMUDataQuarterly[year]; let i = index">
      <td *ngIf="quarter">
          {{year}} Q{{i+1}}
      </td>
      <td *ngIf="quarter">
          {{quarter.CPMUAverage}}
      </td>
    </tr>
  </ng-container>
</table>