ul {
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0 3rem;
  max-width: 600px;
  width: 100%;
  li {
    list-style-type: none;
    display: flex;
    padding: 0.3rem 0;
    & div {
      flex: 1 0;

      &.product__year {
        flex: 1 0 5px;
      }

      &.product__cpmu {
        text-align: right;
        max-width: 33%;
      }
    }
  }
}

.monthQuarterSwitch {
  height: 3rem;
}
