@import 'config.scss';
.runner {
    h1 {
        color: $blue-04;
    }
}

.table-styles {
    .uk-table-divider tr {
        border-top:1px solid $blue-05;   
    }
}

.quarterly-style {
    tbody tr:nth-child(4n+5) {
        border-top: 1px solid $blue-04;
    }
}